.login-container{
  border-radius: 9px;
  background: #e5e0e3;
  box-shadow:  5px 5px 10px #c3bec1,
               -5px -5px 10px #ffffff;

}

.login-divider{
  display: flex;
  padding-top: 20px;
}

.divider-position{
  margin-top: -15px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 20px;
}